

.reminders  {
    width: 250px;
    height: 200px;
    /* margin: 20px 0; */
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
}

.reminders h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.reminders ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reminders ul li {
    font-size: 14px;
    margin: 5px 0;
    padding: 5px;
    background: #f1f3f5;
    border-radius: 4px;
}

/* Quick Links Section */
.quick-links h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.tile-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.quick-links  {
    width: 250px;
    height: 350px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
}

.quick-links h3 {
    font-size: calc(1.0rem + .6vw);
}

.tile {
    flex: 1;
    min-width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f3f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.tile i {
    font-size: 25px;
    margin-bottom: 10px;
    color: #5d93cd;
}